<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
<connectionStrings><add name="DBEntities" connectionString="metadata=res://*/Domain.Entities.Model1.csdl|res://*/Domain.Entities.Model1.ssdl|res://*/Domain.Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STHQ011A-14;initial catalog=DB;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>